// Estructura principal del sitio web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>  // para cada vista
    <!--Navbar -->
    <%- include('partials/navbar') %>
    <!-- Contenido dinámico-->
     <main>
        <%- body %> <!-- Aquí se renderizará el contenido específico de cada página -->
    </main>
        <!--Footer -->
    <%- include('partials/footer') %>
</body> 
</html>

 <!--propuesto por vcode 
    <header>
        <h1>Mi Sitio Web</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    -->
<!-- y
    <main>
        <%- body %> <!-- Aquí se renderizará el contenido específico de cada página -->
<!-- y
    </main>

    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer> -->